.App {
  padding: 20px;
  border: 2px solid #333;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}
.public-DraftStyleDefault-pre {
  counter-reset: code-line;
  border-left: 5px solid rgba(205, 233, 244, 1);
  padding: 4px 0 2px 10px;
  margin: 10px 0 21px;
  line-height: 22px;
}

.public-DraftStyleDefault-pre .line {
  counter-increment: code-line;
  display: list-item;
  list-style: none;
}

.public-DraftStyleDefault-pre .line::before {
  content: counter(code-line);
  position: absolute;
  margin-left: -30px;
  margin-right: 25px;
}
.public-DraftStyleDefault-pre .line.is-empty::before {
  margin-top: -22px;
}
